# =============================================================================
# ABR3 Configuration - Core Domain
# Chapter 7: Labeled Unicast IPv4
# =============================================================================

configure {
    system {
        name "ABR3"
        location "Lab - Chapter 7 - Labeled Unicast IPv4"
    }
    
    card 1 {
        card-type iom-1
        mda 1 {
            mda-type me6-100gb-qsfp28
        }
        mda 2 {
            mda-type me12-100gb-qsfp28
        }
    }
    
    policy-options {
        prefix-list "System-Address" {
            prefix 192.0.2.103/32 type exact {
            }
        }
        policy-statement "Labeled-Unicast" {
            entry 10 {
                from {
                    prefix-list ["System-Address"]
                }
                to {
                    protocol {
                        name [bgp-label]
                    }
                }
                action {
                    action-type accept
                    origin igp
                }
            }
        }       
    }

    port 1/1/c1 {
        admin-state enable
        description "to-RR1"
        connector {
            breakout c1-100g
        }
    }

    port 1/1/c1/1 {
        admin-state enable
        ethernet {
            lldp {
                dest-mac nearest-bridge {
                    receive true
                    transmit true
                    tx-tlvs {
                        port-desc true
                        sys-name true
                        sys-desc true
                    }
                    tx-mgmt-address system {
                    }
                }
            }
        }
    }

    port 1/1/c2 {
        admin-state enable
        description "to-ABR4"
        connector {
            breakout c1-100g
        }
    }

    port 1/1/c2/1 {
        admin-state enable
        ethernet {
            lldp {
                dest-mac nearest-bridge {
                    receive true
                    transmit true
                    tx-tlvs {
                        port-desc true
                        sys-name true
                        sys-desc true
                    }
                    tx-mgmt-address system {
                    }
                }
            }
        }
    }

    port 1/1/c3 {
        admin-state enable
        description "to-ABR1"
        connector {
            breakout c1-100g
        }
    }

    port 1/1/c3/1 {
        admin-state enable
        ethernet {
            lldp {
                dest-mac nearest-bridge {
                    receive true
                    transmit true
                    tx-tlvs {
                        port-desc true
                        sys-name true
                        sys-desc true
                    }
                    tx-mgmt-address system {
                    }
                }
            }
        }
    }

    port 1/1/c4 {
        admin-state enable
        description "to-AGN3"
        connector {
            breakout c1-100g
        }
    }

    port 1/1/c4/1 {
        admin-state enable
        ethernet {
            lldp {
                dest-mac nearest-bridge {
                    receive true
                    transmit true
                    tx-tlvs {
                        port-desc true
                        sys-name true
                        sys-desc true
                    }
                    tx-mgmt-address system {
                    }
                }
            }
        }
    }

    router "Base" {
        autonomous-system 64496
        router-id 192.0.2.103
        
        interface "system" {
            ipv4 {
                primary {
                    address 192.0.2.103
                    prefix-length 32
                }
            }
        }
        
        interface "link-to-RR1" {
            port 1/1/c1/1
            ipv4 {
                primary {
                    address 10.10.103.2
                    prefix-length 30
                }
            }
        }

        interface "link-to-ABR4" {
            port 1/1/c2/1
            ipv4 {
                primary {
                    address 10.103.104.1
                    prefix-length 30
                }
            }
        }

        interface "link-to-ABR1" {
            port 1/1/c3/1
            ipv4 {
                primary {
                    address 10.101.103.2
                    prefix-length 30
                }
            }
        }

        interface "link-to-AGN3" {
            port 1/1/c4/1
            ipv4 {
                primary {
                    address 10.3.103.2
                    prefix-length 30
                }
            }
        }

        mpls-labels {
            static-label-range 11968
            sr-labels {
                start 12000
                end 19999
            }
        }

        # IS-IS for IGP - Core Domain
        isis 2 {
            admin-state enable
            ipv4-routing true
            level-capability 2
            level 2 {
                wide-metrics-only true
            }
            advertise-router-capability as
            all-l1isis 01:80:c2:02:02:01
            all-l2isis 01:80:c2:02:02:02
            iid-tlv-enable true
            prefix-attributes-tlv true
            traffic-engineering true
            area-address [49.2001]
            segment-routing {
                admin-state enable
                prefix-sid-range {
                    global
                }
            }
            interface "system" {
                passive true
                ipv4-node-sid {
                    label 14203
                }
            }
            interface "link-to-RR1" {
                interface-type point-to-point
                level 2 {
                    metric 100
                }
            }
            interface "link-to-ABR4" {
                interface-type point-to-point
                level 2 {
                    metric 100
                }
            }
            interface "link-to-ABR1" {
                interface-type point-to-point
                level 2 {
                    metric 100
                }
            }
        }

        # IS-IS for IGP - Aggregation Domain 2
        isis 3 {
            admin-state enable
            ipv4-routing true
            level-capability 2
            level 2 {
                wide-metrics-only true
            }
            advertise-router-capability as
            all-l1isis 01:80:c2:03:02:01
            all-l2isis 01:80:c2:03:02:02
            iid-tlv-enable true
            prefix-attributes-tlv true
            traffic-engineering true
            area-address [49.3001]
            segment-routing {
                admin-state enable
                prefix-sid-range {
                    global
                }
            }
            interface "system" {
                passive true
                ipv4-node-sid {
                    label 14103
                }
            }
            interface "link-to-ABR4" {
                interface-type point-to-point
                level 2 {
                    metric 100
                }
            }
            interface "link-to-AGN3" {
                interface-type point-to-point
                level 2 {
                    metric 100
                }
            }
        }

        # LDP for MPLS label distribution
        ldp {
            admin-state enable
            interface-parameters {
                interface "link-to-RR1" {
                    ipv4 {
                        admin-state enable
                    }
                }
                interface "link-to-ABR4" {
                    ipv4 {
                        admin-state enable
                    }
                }
                interface "link-to-ABR1" {
                    ipv4 {
                        admin-state enable
                    }
                }
                interface "link-to-AGN3" {
                    ipv4 {
                        admin-state enable
                    }
                }
            }
        }
        
        # BGP for VPNv4 route exchange
        bgp {
            advertise-inactive true
            backup-path {
                label-ipv4 true
            }
            next-hop-resolution {
                labeled-routes {
                    transport-tunnel {
                        family label-ipv4 {
                            resolution filter
                            resolution-filter {
                                ldp false
                                sr-isis true
                            }
                        }
                    }
                }
            }
            rib-management {
                label-ipv4 {
                    route-table-import {
                        policy-name "Labeled-Unicast"
                    }
                }
            }   
            group "Core-Domain" {
                next-hop-self true
                peer-as 64496
                family {
                    label-ipv4 true
                    label-ipv6 true
                }
            }
            group "Aggregation-Domain" {
                next-hop-self true
                peer-as 64496
                family {
                    label-ipv4 true
                    label-ipv6 true
                }
                cluster {
                    cluster-id 192.0.2.103
                }
            }
            neighbor "192.0.2.3" {
                group "Aggregation-Domain"
                export {
                    policy ["Labeled-Unicast"]
                }
            }
            neighbor "192.0.2.4" {
                group "Aggregation-Domain"
                export {
                    policy ["Labeled-Unicast"]
                }
            }
            neighbor "192.0.2.10" {
                group "Core-Domain"
            }
        }
    }
}
