# =============================================================================
# CE6 Configuration
# Chapter 6: Ethernet VPN - FXC - Default Mode
# =============================================================================

configure {
    system {
        name "CE6"
        location "Lab - Chapter 6 - EVPN-VPLS"
    }
    
    card 1 {
        card-type iom-1
        mda 1 {
            mda-type me6-100gb-qsfp28
        }
        mda 2 {
            mda-type me12-100gb-qsfp28
        }
    }

    port 1/1/c4 {
        admin-state enable
        description "to-R3"
        connector {
            breakout c1-100g
        }
    }
    port 1/1/c4/1 {
        admin-state enable
        ethernet {
            encap-type qinq
            lldp {
                dest-mac nearest-bridge {
                    receive true
                    transmit true
                    tx-tlvs {
                        port-desc true
                        sys-name true
                        sys-desc true
                    }
                    tx-mgmt-address system {
                    }
                }
            }
        }
    }

    port 1/1/c5 {
        admin-state enable
        description "to-R6"
        connector {
            breakout c1-100g
        }
    }
    port 1/1/c5/1 {
        admin-state enable
        ethernet {
            encap-type qinq
            lldp {
                dest-mac nearest-bridge {
                    receive true
                    transmit true
                    tx-tlvs {
                        port-desc true
                        sys-name true
                        sys-desc true
                    }
                    tx-mgmt-address system {
                    }
                }
            }
        }
    }

    lag "lag-10" {
        admin-state enable
        encap-type qinq
        lacp {
            mode active
            administrative-key 32768
        }
        port 1/1/c4/1 {
        }
        port 1/1/c5/1 {
        }
    }

    router "Base" {
        autonomous-system 64512
        router-id 192.100.1.3
        interface "system" {
            ipv4 {
                primary {
                    address 192.100.1.3
                    prefix-length 32
                }
            }
        }
        interface "link-to-CE4" {
            port lag-10:2.2
            ipv4 {
                primary {
                    address 172.16.1.3
                    prefix-length 24
                }
            }
        }
    }
}
